*{
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.footer{
    position: absolute;
    margin-top: 40px;
    width: 100% !important;
    height: 170px;
    border-style: none;
    background-color: #f0e7c5;
}

.navbar{
    width: 100%;
    height: 70px;
    border-style: none;
    margin-bottom: 30px;
}